{% extends 'home.html' %}
{% load static %}
{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/app_test_manage.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div id="test_content">
            <div id="test_list">
                <a id="title_distance" href={% url 'at:apis_manage' %}>单一接口用例</a>
                <a id="title_distance" href={% url 'at:api_test_manage' %}>流程接口用例</a>
                <a id="title_distance" href={% url 'at:web_test_manage' %}>Web测试用例</a>
                <a id="title_distance" href={% url 'at:app_test_manage' %}>App测试用例</a>
            </div>
            <h3 id="add_test_name">App用例列表</h3>
            <a id="add_test" href={% url 'at:add_app_test' %}>＋添加App用例</a>
            <div id="test_search">
                <form method="get" action="{% url 'at:app_search' %}">
                    {% csrf_token %}
                    <input type="search" name="app_t_name" placeholder="输入App用例名称">&nbsp;
                    <button id="search_b" type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>

            <form id="" method="post" action="{% url 'at:app_test_manage' %}">
                {% csrf_token %}
                <table class="table-striped" id="table_list">
                    <thead>
                    <tr id="tr_title">
                        <th id="table_title_length">ID</th>
                        <th id="table_title_length4">产品名称</th>
                        <th id="table_title_length4">App用例名称</th>
                        <th id="table_title_length4">App用例描述</th>
                        <th id="table_title_length4">测试负责人</th>
                        <th id="table_title_length4">测试结果</th>
                        <th id="table_title_length3">时间</th>
                        <th id="table_title_length">查看</th>
                        <th id="table_title_length">编辑</th>
                        <th id="table_title_length">删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for app_t in app_tests %}
                        <tr id="tr_d">
                            <td>{{ app_t.id }}</td>
                            <td>{{ app_t.app_t_pro.p_product_name }}</td>
                            <td>{{ app_t.app_t_name }}</td>
                            <td>{{ app_t.app_t_desc }}</td>
                            <td>{{ app_t.app_ter }}</td>
                            <td>{% if app_t.app_t_res == 0 %}
                                <a style="color: red;text-decoration: none">{{ app_t.app_t_res }}</a>
                            {% elif app_t.app_t_res == 1 %}
                                <a style="color: green;text-decoration: none">{{ app_t.app_t_res }}</a>
                            {% endif %}
                            </td>
                            <td>{{ app_t.create_time }}</td>
                            <td><a href="{% url "at:app_step_manage" %}?app_t.id={{ app_t.id }}"
                                   class="glyphicon glyphicon-ok-sign" id="check_f"></a></td>
                            <td>编辑</td>
                            <td>删除</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
          
        </div>
    </div>

{% endblock %}